<nav class="navbar navbar-expand-lg mb-3">
    <a [routerLink]="['/']" class="navbar-brand">Dojo Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a  [routerLink]="['/usuario']" class="nav-item nav-link navbar-link">Usuario</a>
        </div>
    </div>
</nav>