.navbar{
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    // z-index: 2;
    min-height: 4rem;
    text-decoration: none;
    background-color: #563d7c;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);

    &-brand, &-link{
        color: white;
    }
}
