<table class="table">
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Cpf</th>
        <th></th>
    </tr>
    <tr *ngFor="let usuario of usuarios">
        <td>{{usuario.id}}</td>
        <td>{{usuario.nome}}</td>
        <td>{{usuario.email}}</td>
        <td>{{usuario.cpf}}</td>
        <td class="text-right">
            <a [routerLink]="['edit', usuario.id]" class="btn btn-link text-success ml-2">
                <fa-icon [icon]="faPenAlt"></fa-icon>
            </a>
            <button (click)="removerClick(usuario)" class="btn btn-link text-danger ml-2">
                <fa-icon [icon]="faTrash"></fa-icon>
            </button>
        </td>
    </tr>
</table>