<form [formGroup]="form" (submit)="adicionar()">
    <div class="form-group col-4">
        <label for="nome" class="form-label">Nome</label>
        <input formControlName="nome" class="form-control" [class.border-danger]="nome.touched && nome.errors">
        <div *ngIf="nome.touched && nome.errors">
            <span *ngIf="nome.getError('required')" class="text-danger">O campo nome é obrigatório</span>
        </div>
    </div>
    <div class="form-group col-4">
        <label for="email" class="form-label">Email</label>
        <input formControlName="email" class="form-control" [class.border-danger]="email.touched && email.errors">
        <div *ngIf="email.touched && email.errors">
            <span *ngIf="email.getError('required')" class="text-danger">O campo email é obrigatório</span>
            <span *ngIf="email.getError('email')" class="text-danger">O campo email está em um formato inválido</span>
        </div>
    </div>
    <div class="form-group col-4">
        <label for="cpf" class="form-label">Cpf</label>
        <input formControlName="cpf" class="form-control" [class.border-danger]="cpf.touched && cpf.errors">
        <div *ngIf="cpf.touched && cpf.errors">
            <span *ngIf="cpf.getError('required')" class="text-danger">O campo cpf é obrigatório</span>
            <span *ngIf="cpf.getError('minlength')" class="text-danger">O campo cpf deve ter no mínimo 11 caracteres</span>
        </div>
    </div>
    <div class="form-group col-4">
        <a routerLink="/usuario" class="btn btn-link mr-2">Voltar</a>
        <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Adicionar usuario</button>
    </div>
</form>