<app-card [title]="'Listagem de usuários'">
    <div>
        <div class="text-right p-2">
            <a routerLink="adicionar" class="btn btn-primary">Adicionar</a>
        </div>
        <app-usuario-listagem-tabela [usuarios]="usuarios" (remover)="removerUsuario($event)"></app-usuario-listagem-tabela> 
    </div>
</app-card>