@import '../node_modules/bootstrap/scss/bootstrap.scss';

.btn-primary {
    background-color: #563d7c;
    border-color: #563d7c;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #563d7c;
    border-color: #563d7c;
}

.btn-link {
    color: #563d7c;
}

.btn-primary:hover {
    background-color: #3b2163;
    border-color: #3b2163;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    background-color: #563d7c;
    border-color: #563d7c;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(86, 61, 124, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem  rgba(86, 61, 124, 0.5);
}